<!DOCTYPE html>
<html lang ="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/spectre/dist/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header class="navbar">
      <section class="navbar-section">
        <h1><a href="/">空家トラベル</a></h1>
        <a href="list" class="btn btn-link site-main-color">宿泊する</a>
        <a href="input" class="btn btn-link site-main-color">投稿する</a>
        <a href="#" class="btn btn-primary site-background-color">Sign Up</a>
      </section>
    </header>
    {% block body %}
    {% endblock %}
  </body>
</html>
