<!DOCTYPE html>
<html lang ="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/spectre/dist/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <ul>
      <li><a href="list">宿泊する</a></li>
      <li><a href="input">投稿する</a></li>
    </ul>
    <a href="/"><h1>空家トラベル</h1></a>
    {% block body %}
    {% endblock %}
  </body>
</html>
