{% extends "base.html" %}

{% block head %}
<script src="https://www.google.com/jsapi"></script>
<title>トップ</title>
{% endblock %}

{% block body %}
<script>
 google.load('visualization', '1.0', {'packages': ['corechart']});

 function drawChart(timeseries, period){
     var data = new google.visualization.DataTable();
     data.addColumn('number', '年');
     data.addColumn('number', 地価平均);
     data.addRows({{ price }});

     var options = {
         title: '東栄町下落',
     };

     var chart = new google.visualization.LineChart(
         $('#chart')[0]
     );

     chart.draw(data, options);
 }
</script>
<section class='layout-section'>
  <h3>田舎の空き家に安く泊まろう</h3>
  <p class="text-contents">私はほか無論その周旋論という事のために握っなん。もし絶対に交渉論はぷんぷんこんな学習ですたじゃをしば始めんには返事行きでですて、更にとは構うたたでです。鈍痛がさたのは現に昔をとうとうますますた。もし木下さんで発展他多少持からやっます顔そんな坊ちゃんあいつか生活をとしてご安住ですんならですて、その前はこれか主義価値に得るて、木下さんののに弟のそれにもちろんご相違と出来で私自分をお経験へ評しようにまあお話から送っただけれども、いくら至極関係のしだからいん点に亡びだう。ところがまたごやり方がしものはそう不審としでが、その一員をは進んですからといった着物に聴いてくるませで。</p>
  <div>
    {{ price }}
  </div>
</section>
<section class='layout-section'>
  <h3>田舎の空き家に買おう</h3>
  <p class="text-contents">私はほか無論その周旋論という事のために握っなん。もし絶対に交渉論はぷんぷんこんな学習ですたじゃをしば始めんには返事行きでですて、更にとは構うたたでです。鈍痛がさたのは現に昔をとうとうますますた。もし木下さんで発展他多少持からやっます顔そんな坊ちゃんあいつか生活をとしてご安住ですんならですて、その前はこれか主義価値に得るて、木下さんののに弟のそれにもちろんご相違と出来で私自分をお経験へ評しようにまあお話から送っただけれども、いくら至極関係のしだからいん点に亡びだう。ところがまたごやり方がしものはそう不審としでが、その一員をは進んですからといった着物に聴いてくるませで。</p>
  <div>
    <!-- ここにデータをグラフで見せる -->
  </div>
</section>
<section class='layout-section'>
  <h3>田舎の空き家に利用してもらおう</h3>
  <p class="text-contents">私はほか無論その周旋論という事のために握っなん。もし絶対に交渉論はぷんぷんこんな学習ですたじゃをしば始めんには返事行きでですて、更にとは構うたたでです。鈍痛がさたのは現に昔をとうとうますますた。もし木下さんで発展他多少持からやっます顔そんな坊ちゃんあいつか生活をとしてご安住ですんならですて、その前はこれか主義価値に得るて、木下さんののに弟のそれにもちろんご相違と出来で私自分をお経験へ評しようにまあお話から送っただけれども、いくら至極関係のしだからいん点に亡びだう。ところがまたごやり方がしものはそう不審としでが、その一員をは進んですからといった着物に聴いてくるませで。</p>
  <div>
    <!-- ここにデータをグラフで見せる -->
  </div>
</section>
{% endblock %}
