{% extends "base.html" %}
{% block head %}
<title>空き家情報入力</title>
{% endblock %}

{% block body %}
<h2>投稿フォーム</h2>
<section>
  <form action="/save" method="post" id="input_form" enctype="multipart/form-data">
  <div class="form-group">
    <label class="form-label">設備とあなたの関係は</label>
     <label class="form-radio">
      <input type="radio" name="relation" value="1" checked="">
      <i class="form-icon"></i>持ち主
    </label>
    <label class="form-radio">
      <input type="radio" name="relation" value="2">
      <i class="form-icon"></i> 親族
    </label>
    <label class="form-radio">
      <input type="radio" name="relation" value="3">
      <i class="form-icon"></i> 第三者
    </label>
  </div>

  <div class="form-group">
    <label class="form-label" for="for="input-name">管理者名</label>
    <input class="form-input" id="input-name" placeholder="あなたのお名前を入力してください（姓名）">
  </div>

  <div class="form-group">
    <label class="form-label" for="input-tel">ご連絡先</label>
    <input class="form-input" id="input-tel" placeholder="あなたのご連絡先を入力してください（姓名）">
  </div>

  <div class="form-group">
    <label class="form-label" for="input-access">空き家までのアクセス方法</label>
    <input class="form-input" id="input-access" placeholder="アクセス方法を入力してください（住所）">
  </div>

  <div class="form-group">
    <label class="form-label" for="input-tel">おすすめのポイント</label>
    <textarea id="input-access" name="point" class="form-input" placeholder="アピールポイントを入力してください"></textarea>
  </div>

  <div class="form-group">
    <label class="form-label" for="input-tel">画像のアップロード</label>
    <input class="form-input" type="file" id="input-tel">
  </div>

  <div class="form-group">
    <label class="form-checkbox">
      <input type="checkbox">
      <i class="form-icon"></i>キッチン
      <input type="checkbox">
      <i class="form-icon"></i>トイレ
      <input type="checkbox">
      <i class="form-icon"></i>風呂
      <input type="checkbox">
      <i class="form-icon"></i>電気
      <input type="checkbox">
      <i class="form-icon"></i>水道ガス
    </label>
  </div>


  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
    </div>
</section>


<script>
 document.getElementById('form').onsubmit = function() {
     window.alert('この内容で大丈夫ですか？');
 };
</script>

{% endblock %}
