{% extends "base.html" %}
{% block head %}
<title>空き家情報入力</title>
{% endblock %}

{% block body %}
<h3>空き家情報入力</h3>
<section>
  <form action="/save" method="post" id="input_form" enctype="multipart/form-data">
    <div class="form-group layout-section-form">
      <label class="form-label">設備タイトル</label>
      <input class="form-input" id="input-title" name="title" placeholder="例：ジブリの世界のような古民家">
    </div>

    <div class="form-group layout-section-form">
      <label class="form-label">設備とあなたの関係は</label>
      <label class="form-radio">
        <input type="radio" name="relation" value="1" checked="">
        <i class="form-icon"></i>持ち主
      </label>
      <label class="form-radio">
        <input type="radio" name="relation" value="2">
        <i class="form-icon"></i> 親族
      </label>
      <label class="form-radio">
        <input type="radio" name="relation" value="3">
        <i class="form-icon"></i> 第三者
      </label>
    </div>

    <div class="form-group layout-section-form">
      <label class="form-label" for="for="input-name">管理者名</label>
      <input class="form-input" id="input-name" placeholder="あなたのお名前を入力してください（姓名　例：田舎太郎）">
    </div>

    <div class="form-group layout-section-form">
      <label class="form-label" for="input-tel">ご連絡先</label>
      <input class="form-input" id="input-tel" placeholder="あなたのご連絡先を入力してください（例：0909100xxxx）">
    </div>

    <div class="form-group layout-section-form">
      <label class="form-label" for="input-access">空き家までのアクセス方法</label>
      <input class="form-input" id="input-access" placeholder="アクセス方法を入力してください（住所）">
    </div>

    <div class="form-group layout-section-form">
      <label class="form-label" for="input-tel">おすすめのポイント</label>
      <textarea id="input-access" name="point" class="form-input" placeholder="例：側に川があり夏は川遊びが楽しめます。蛍を見ることができ、夜は天の川が綺麗に見えます"></textarea>
    </div>

    <div class="form-group layout-section-form">
      <label class="form-label" for="input-tel">画像のアップロード</label>
      <input type="file" id="input-tel">
    </div>

    <div class="form-group layout-section-form">
      <label class="form-checkbox">
        <input type="checkbox">
        <i class="form-icon"></i>キッチン
      </label>
      <label class="form-checkbox">
        <input type="checkbox">
        <i class="form-icon"></i>トイレ
      </label>
      <label class="form-checkbox">
        <input type="checkbox">
        <i class="form-icon"></i>風呂
      </label>
      <label class="form-checkbox">
        <input type="checkbox">
        <i class="form-icon"></i>電気
      </label>
      <label class="form-checkbox">
        <input type="checkbox">
        <i class="form-icon"></i>水道
      </label>
      <label class="form-checkbox">
        <input type="checkbox">
        <i class="form-icon"></i>ガス
      </label>
    </div>

    <div class="form-group layout-section-form">
      <button id="submit-data" class="btn btn-primary site-background-color" type="submit">Submit</button>
    </div>
  </form>
    </div>
</section>
{% endblock %}
