{% extends "base.html" %}
{% block head %}
<title>投稿フォーム</title>
{% endblock %}

{% block body %}
<h2>投稿フォーム</h2>
<section>
  <form action="/save" method="post" id="input_form"
    enctype="multipart/form-data">
    <table>
      <tr>
        <th>建物タイトル</th>
        <td><input type="text" name="title"></td>
      </tr>

      <tr>
        <th>設備とあなたの関係は？</th>
        <td>
          <input type="radio" name="relation" value="1" id="relation1"
            checked="checked">
          <label for="relation1">持ち主</label>
          <input type="radio" name="relation" value="2" id="relation2">
          <label for="relation2">親族</label>
          <input type="radio" name="relation" value="3" id="relation3">
          <label for="relation3">第三者</label>
        </td>
      </tr>

      <tr>
        <th>管理者名</th>
        <td><input type="text" name="name"></td>
      </tr>

      <tr>
        <th>緊急連絡先</th>
        <td><input type="text" name="tel"></td>
      </tr>

      <tr>
        <th>住所、アクセス方法</th>
        <td><input type="text" name="access"></td>
      </tr>

      <tr>
        <th>おすすめポイント</th>
        <td><textarea name="point" rows="4" cols="40">
        </textarea><br></td>
      </tr>

      <tr>
        <th>画像</th>
        <td><input type="file" name="images"></td>
      </tr>
    </table>
    <p>間取り、宿泊人、キッチン、トイレ風呂、電気、水道ガス、料金、居住者の有無etc<br></p>

    <input type="submit" value="アップロード">
  </form>
    </div>
</section>


<script>
 document.getElementById('form').onsubmit = function() {
     window.alert('この内容で大丈夫ですか？');
 };
</script>

{% endblock %}
