{% extends "base.html" %}

{% block head %}
<title>トップ</title>
{% endblock %}

{% block body %}
<div translate="no">
  <div class="columns">
    {% for house in houses %}
    <div class="column col-6">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive"
            src="{{ url_for('static', filename='uploads/' + house['img_name']) }}">
        </div>
        <div class="card-header">
          <h2 class="card-title">{{ house['title'] }}</h2>
          <p class="card-meta">{{ house['access'] }}</p>
        </div>
        <div class="card-body">
          <p>{{ house['point'] }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% if not houses %}
    <p>宿がありません</p>
    {% endif %}
  </div>
</div>
{% endblock %}
