{% extends "base.html" %}

{% block head %}
<title>トップ</title>
{% endblock %}

{% block body %}
田舎の空き家に安く泊まろう
<div translate="no">
  <div class="columns">
    {% for _ in range(10) %}
    <div class="column col-6">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive" src="http://i.imgbox.com/gVyLgccq.jpg">
        </div>
        <div class="card-header">
          <h2 class="card-title">A Big Plane</h2>
          <p class="card-meta">Image Uploaded Today</p>
        </div>
        <div class="card-body">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
